@import 'bootstrap';
@import 'responsive';


body {
	position: relative;
}

#language-toggle {
	position: absolute;
	top: 0;
	right: 0;
}
body.development {
	a[rel="popover"] {
		background-color: rgba(255,255,255,0.7);
		border: 1px solid black;
		.border-radius(5px);		
	}
}
a[rel="popover"] {
	font-size: 18px;
	font-weight: bold;
	color: black;
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 6;
}
a.component-text {
	z-index: 5;
	height: auto;
	width: auto;
}
.modal {
	top: 50%;
	left:58%;
	width:480px;
	position: absolute;
	margin: 0px;
}
.popover {
	top: 6% !important;
	left: 0% !important;
	margin-left: 0px !important;
	padding: 0px !important;
}

#unsupported-device {
	display: none;
}
#evaporator-button {
	top:20%;
	left:60%;
	height:160px;
	width:160px;
}
#evaporator-text {
	top:15%;
	left:65%;
}
#accumulator-button {
	top: 25%;
	left: 55%;
	width: 5%;
	height:110px;
	z-index: 9;
}
#accumulator-text {
	top: 16%;
	left:47%;
}
#compressor-button {
	top:40%;
	left:32%;
	height:120px;
	width:150px;
}
#compressor-text {
	top:36%;
	left:30%;
}
#condenser-button {
	top:40%;
	left:12%;
	height:280px;
	width:150px;
}
#condenser-text {
	top:33%;
	left:12%;
}
#orifice-tube-txv-button {
	top:39%;
	left:61%;
	height:60px;
}
#orifice-tube-txv-text {
	top:46%;
	left:70%;
	
}

#refrigerant-button {
	top:28%;
	left:59%;
	height: 30px;
	width: 30px;
}
#refrigerant-text {
	top:24%;
	left:77%;	
}
#lines-button {
	top:55%;
	left:35%;
	width: 22%;
	background-color: transparent;
	border:0px;
}
#ac-lines-button {
	top:28%;
	left:47%;
	height:120px;
	width: 22%;
	width: 5%;
	background-color: transparent;
	border:0px;
}
#ac-lines-text {
	top:40%;
	left:51%;	
}

#content {
	position: relative;
}

// Landscape phones and down
@media (max-width: 480px) {
	#unsupported-device {display: block;}
	#content {display:none}
}



// Landscape phone to portrait tablet
@media (max-width: 767px) {
	#evaporator-button {
		
	}
	#accumulator-button {
		
	}
	#compressor-button {
		
	}
	#condenser-button {
		height:100px;
		width:50px;
	}
	#orifice-tube-txv-button {
		
	}
	#expansion-button {
	}
	a[rel="popover"] {
		height:30px;
		width:30px;
		font-size:14px;
	}

}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
	.popover {
		top: 9% !important;
	}
	#refrigerant-text {
	  top: 26%;
	}
	.modal {
		width: 340px;
	}
	#evaporator-text {
	  top: 17%;
	}
	#evaporator-button {
		height:120px;
		width:100px;
	}
	#accumulator-button {
		height:80px;
	}
	#compressor-button {
		height:85px;
		width:95px;
	}
	#compressor-text {
	  top: 37%;
	}
	#condenser-button {
		height:190px;
		width:105px;
	}
	#orifice-tube-txv-text {
	  top: 47%;
	  width: 200px;
	}
	#orifice-tube-txv-button{
		top:41%;
		height:40px;
	}
	#lines2-text {
	  top:41%;
	}
	#expansion-button {
	}
	a[rel="popover"] {
		height:60px;
		width:60px;
		font-size:12px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	.modal {
		width: 400px;
	}
	a[rel="popover"] {
		height:80px;
		width:80px;
		font-size:14px;
	}
	#evaporator-button {
		height:140px;
		width:130px;
	}
	#compressor-button {
		height:100px;
		width:125px;
	}
	#condenser-button {
		height: 240px;
		width: 140px;
	}
	#accumulator-button {
		height: 100px;
	}
}

// Large desktop
@media (min-width: 1200px) {
}